footer.bg-dark.text-white.py-4.mt-5
  .container
    .row
      .col-md-6
        h5 MyBrand
        p.mb-0 Website bán hàng trực tuyến uy tín và chất lượng.
      .col-md-6.text-md-end
        h6 Liên hệ
        p.mb-1
          i.bi.bi-envelope.me-2
          | email@example.com
        p.mb-0
          i.bi.bi-telephone.me-2
          | 0123 456 789
    
    hr.my-3
    
    .row.align-items-center
      .col-md-6
        p.mb-0 © 2024 MyBrand. All rights reserved.
      .col-md-6.text-md-end
        a.text-white.me-3(href='#')
          i.bi.bi-facebook
        a.text-white.me-3(href='#')
          i.bi.bi-instagram
        a.text-white(href='#')
          i.bi.bi-youtube