.sider.bg-dark.text-white.p-0
  nav
    ul.nav.flex-column
      li.nav-item
        a.nav-link.text-white.border-bottom.border-secondary.px-3.py-3(href=`${prefixAdmin}/dashboard`) Tổng quan
      li.nav-item
        a.nav-link.text-white.px-3.py-3(href=`${prefixAdmin}/products`) Sản phẩm